---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { SITE } from "@config";
// import { Icon } from "astro-icon/components";
import { ALL_PROJECTS } from "./projects";
// import { format, parseISO } from "date-fns";
---

<Layout title={`Projects | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main pageTitle="Projects" pageDesc="All projects.">
    <div class="mt-4">
      <!-- <Icon name="next" /> -->
      <!-- <Icon class="text-transparent bg-black" name="devicon:nextjs" /> -->
      {
        ALL_PROJECTS.map(item => (
          <>
            <h3 class="mb-2 text-lg font-bold">{item.year}</h3>
            <ul class="mb-6 ml-4 list-inside list-disc">
              {item.projects.map((project, pIndex) => {
                return (
                  <li class="mb-4" id={`${pIndex}`}>
                    {project.active ? (
                      <a
                        href={project.url}
                        target="_blank"
                        rel="noopener noreferrer nofollow"
                        class="break-words underline decoration-dashed underline-offset-8 hover:text-skin-accent"
                      >
                        {project.title}
                      </a>
                    ) : (
                      <span class="break-words underline decoration-dashed underline-offset-8">
                        {project.title}
                      </span>
                    )}

                    {project.description && (
                      <div
                        class="mb-2 ml-4 mt-4 block font-thin"
                        set:html={project.description}
                      />
                    )}
                    {project.img && (
                      <a
                        href={project.url}
                        target="_blank"
                        rel="noopener noreferrer nofollow"
                        class="mt-4 block break-words underline decoration-dashed underline-offset-8 hover:text-skin-accent"
                      >
                        <picture class="m-0 rounded-sm">
                          <img
                            class="mb-1 aspect-video h-auto w-full rounded-md rounded-b-none bg-white object-contain"
                            src={`/${project.img}`}
                            alt={project.title}
                          />
                        </picture>
                      </a>
                    )}
                  </li>
                );
              })}
            </ul>
          </>
        ))
      }
    </div>
  </Main>
  <Footer />
</Layout>
